<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="style_main.css">
        <link rel="stylesheet" href="style_nav.css">
        <link rel="stylesheet" href="style_adHome.css">
        
        <title>Welcome Admin</title>

    </head>


    <body>

        <!-------------------------------------- Nav Bar ------------------------------->
        
        <Nav class="navbar navbar-expand-sm backBlue">
            <div class="navbar-header header-hider">
                <button type="button" class="navbar-toggle three-line-tog backBlue" data-toggle="collapse" data-target="#colNavbar">
                    &#9776
                </button>
            </div>

             <div class="collapse navbar-collapse" id="colNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link navItems" href="#">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navItems hoverer" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                        </a>

                        <div class="dropdown-menu backBlue" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item navItems hoverer" href="#">Laptops</a>
                        <a class="dropdown-item navItems hoverer" href="#">Mobile Phones</a>
                        </div>
                    </li>
                </ul>
            
            
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navItems hoverer" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            "Admin_Name"
                        </a>
                        <div class="dropdown-menu backBlue" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item accItems hoverer normalText" href="#">Account</a>
                            <a class="dropdown-item accItems hoverer normalText" href="#">Setting</a>
                            <a class="dropdown-item accItems hoverer normalText" href="#">Sign Out</a>
                        </div>
                    </li>


                </ul>
            </div> 
        </Nav>



        <!------------------------------------ Search Block -------------------------------->
        
        <div class="row search-division">
            
            <div class="col mobDis"></div>

            <div class="col-sm-8">
                <form class="form-inline d-flex justify-content-center">
                    <div class="form-group search-block">
                    <input type="text" class="form-control-lg search-bar" placeholder="Search with Product or Brand">
                    </div>
                    <button type="submit" class="btn btn-primary backBlue search-button" href="#">Search</button>
                </form>
            </div>
            <div class="col mobDis"></div>
        </div>










        <!--------------------------------- Main Block -------------------------------------->
            
        <div class="row mainRow">

            <div class="col sideNav backBlue">
                <p> <a href="#" class="whiteText hoverer secHeader"> Brands </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Stores </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Laptops </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Mobiles </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Highest Rated </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Most Popular </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> New Items </a> </p>
            </div>

            <div class="col-10 yourProducts backMain">
                <h1 class="headerText normalText">
                    Your Products
                </h1>
                <div class="row productRow">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="row productRow">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card loadCard">
                    <h1 class="btn whiteText backBlue search-button loadMore">
                        Load More
                    </h1>
                </div>
                
            </div>

        </div>





        <div class="addItem">
            <h1 class="btn whiteText backBlue search-button headerText loadMore">
                Add New Item
            </h1>
        </div>

        <!------------------------------------- Footer  ---------------------------------------->

        <div class="row footer">
            <div class="col-sm-4">
                <ul>
                    <li class="text-center"><a class="footerText hoverer" href="#">Contact Us</a></li>
                    <li class="text-center"><a class="footerText hoverer" href="#">About Us</a></li>
                    <li class="text-center"><a class="footerText hoverer" href="#">Terms & Conditions</a></liclass="text-center text-light">
                </ul>
            </div>

            <div class="col-sm-4">
                <ul>
                    <li class="text-center"><a class="footerText hoverer" href="#">New Arrivals</a></li>
                    <li class="text-center"><a class="footerText hoverer" href="#">Highest Rated</a></li>
                    <li class="text-center"><a class="footerText hoverer" href="#">Most Popular</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <ul>
                    <li class="text-center"><a class="footerText hoverer" href="#">Stores</a></li>
                    <li class="text-center"><a class="footerText hoverer" href="#">Reviews</a></li>
                    <li class="text-center"><a class="footerText hoverer" href="#">Ratings</a></li>
                </ul>
            </div>
        </div>









        <!-- Javascript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/ulg/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

    </body>
</html>