
<!-- Individual Elements -->


<div class="centre-block border-top mx-5 px-0">
    <div class = "row justify-content-center">
        <div class="row">
            
            <!------- Image -------->
            <div class = "col-lg-6">
                <img src="../uploads/159162081249207HPeWIWxAIHZ7CDJGcn6uO-4..v_1578361612.jpg" class="img-fluid" alt="Responsive Image">
                <h1 class="text-uppercase text-center pt-3">Random Gadget</h1>
            </div>



            <!-- Information Section -->
            <div class="col-lg-6">
                <p class="font-weight-bold pl-3">Intel速 Celeron速 Processor 4205U (2MB Cache, 1.8 GHz)</p>
                <br>
                <p class="info-text">Intel速 UHD Graphics 610</p>
                <p class="info-text">4 GB, 1 x 4 GB, DDR4, 2666 MHz</p>
                <p class="info-text">1 TB 5400 RPM 2.5-inch SATA Hard Drive</p>
                <p class="info-text">Windows 10 Home 64-bit English</p>
                <p class="info-text">15.6-inch HD (1366 x 768) Anti-Glare LED-Backlit Non-touch Display</p>
                <p class="info-text">3-Cell, 42 WHr, Integrated battery</p>
                <p class="info-text">Tray load DVD Drive (Reads and Writes to DVD/CD)</p>
                <p class="info-text">Qualcomm速 DW1810, 1 x 1, 802.11ac with Wi-Fi, Wireless LAN, Bluetooth 4.1</p>


                <br>
                <h1 class="info-text font-weight-bold text-left">Rs. Price</h1>
                <br>


                <div class="d-flex flex-row">
                    <h4 class="font-weight-bold pr-3">User Rating:</h2>
                    <h4>&#9734</h4><h4>&#9734</h4><h4>&#9734</h4><h4>&#9734</h4><h4>&#9734</h4>
                    <h4 class="pl-1">(3.6)</h4>
                </div>
            </div>    
        </div>

    
    </div>
    
    <!-- Review Section -->
    <div class="border-top pt-4 backMain">
        <h1 class="font-weight-bold normalText text-left">Ratings and Reviews</h1>


        <div class="row justify-content-center">


            <!-- Writing the Review -->
            <div class="col-lg-7">
                <form>
                    <div class="form-group pt-3">
                        <label for="exampleFormControlTextarea1" class="font-weight-bold">Leave Your Review</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Your Review</textarea>
                        <button type="submit" class="btn btn-primary submitButton backBlue">Submit</button>
                    </div>
                </form>
            </div>


            <!-- Aggregate Rating Detais Information -->
            <div class="col-lg-5 review-border">
                <div class="row">
                    
                    <!-- Amount of each Stars -->
                    <div class="col-sm-5 border-mid">
                        <div class="d-flex flex-row">
                            <h5 class="pr-3"> &#9733&#9733&#9733&#9733&#9733</h5>
                            <h5> 826</h5>
                        </div>

                        <div class="d-flex flex-row">
                            <h5 class="pr-3"> &#9733&#9733&#9733&#9733&#9734</h5>
                            <h5> 224</h5>
                        </div>

                        <div class="d-flex flex-row">
                            <h5 class="pr-3"> &#9733&#9733&#9733&#9734&#9734</h5>
                            <h5> 826</h5>
                        </div>

                        <div class="d-flex flex-row">
                            <h5 class="pr-3"> &#9733&#9733&#9734&#9734&#9734</h5>
                            <h5> 826</h5>
                        </div>

                        <div class="d-flex flex-row">
                            <h5 class="pr-3"> &#9733&#9734&#9734&#9734&#9734</h5>
                            <h5> 826</h5>
                        </div>
                    </div>

                    <!-- Rating of Individual Feature -->
                    <div class="col-sm-7 pr-2">
                        <div class="row p-0 m-0">
                            <div class="col-8 pl-0">
                                <h5>Texture</h5>
                            </div>

                            <div class="col-4 pl-0">
                                <h5>&#9733&#9733&#9733&#9733&#9734</h5>
                            </div>
                        </div>

                        <div class="row p-0 m-0">
                            <div class="col-8 pl-0">
                                <h5>Value</h5>
                            </div>

                            <div class="col-4 pl-0">
                                <h5>&#9733&#9733&#9733&#9733&#9733</h5>
                            </div>
                        </div>

                        <div class="row p-0 m-0">
                            <div class="col-8 pl-0">
                                <h5>Durablity</h5>
                            </div>

                            <div class="col-4 pl-0">
                                <h5>&#9733&#9733&#9733&#9734&#9734</h5>
                            </div>
                        </div>

                        <div class="row p-0 m-0">
                            <div class="col-8 pl-0">
                                <h5>Performance</h5>
                            </div>

                            <div class="col-4 pl-0">
                                <h5>&#9733&#9733&#9734&#9734&#9734</h5>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
 
        </div>

        
        
        
        
        
        
        <!-- Previous Comments -->
        <div class="card mx-sm-5 pb-3" style="width: 70%;">
            <h1 class=" pt-3 font-weight-bold text-left border-top border-white pl-sm-5 pl-1"> User Reviews</h1>
            
            <div class="mx-sm-5">
                <div class="card-body">
                <div class="d-flex d-row">
                    <img src="pop-user.jpg" class="rounded-circle">
                    <span class="m-0 pl-3 pt-1">User1</span>
                </div>
                <p class="card-text pl-sm-5 text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <div class="d-flex flex-row pl-sm-5">
                    <h5 class="font-weight-bold">Automatic Rating</h5>
                    <h5 class="pl-sm-3">&#9733&#9733&#9734&#9734&#9734</h5>
                </div>
                </div>
            </div>
            
            <div class="mx-sm-5">
                <div class="card-body">
                <div class="d-flex d-row">
                    <img src="pop-user.jpg" class="rounded-circle">
                    <span class="m-0 pl-3 pt-1">User1</span>
                </div>
                <p class="card-text pl-sm-5 text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <div class="d-flex flex-row pl-sm-5">
                    <h5 class="font-weight-bold">Automatic Rating</h5>
                    <h5 class="pl-sm-3">&#9733&#9733&#9734&#9734&#9734</h5>
                </div>
                </div>
            </div>
            
            <div class="mx-sm-5">
                <div class="card-body">
                <div class="d-flex d-row">
                    <img src="pop-user.jpg" class="rounded-circle">
                    <span class="m-0 pl-3 pt-1">User2</span>
                </div>
                <p class="card-text pl-sm-5 text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <div class="d-flex flex-row pl-sm-5">
                    <h5 class="font-weight-bold">Automatic Rating</h5>
                    <h5 class="pl-sm-3">&#9733&#9733&#9734&#9734&#9734</h5>
                </div>
                </div>
            </div>
            
            <div class="mx-sm-5">
                <div class="card-body">
                    <div class="d-flex d-row">
                        <img src="pop-user.jpg" class="rounded-circle">
                        <span class="m-0 pl-3 pt-1">User1</span>
                    </div>
                    <p class="card-text pl-sm-5 text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <div class="d-flex flex-row pl-sm-5">
                        <h5 class="font-weight-bold">Automatic Rating</h5>
                        <h5 class="pl-sm-3">&#9733&#9733&#9734&#9734&#9734</h5>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary backBlue whiteText loadButton p-2 mx-auto" href="#" role="button" style="width: 70%;">Load More</button>
        </div>
        
        
        

    </div>

    


</div>