<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style_login.css">
        <link rel="stylesheet" href="/stylesheets/style_nav.css">
        
        <title><%= title %></title>

    </head>

    <body>

        <!-- Nav Bar Design-->
        <Nav class="navbar navbar-expand-sm ourNav">
            <div class="navbar-header header-hider">
                <button type="button" class="navbar-toggle three-line-tog" data-toggle="collapse" data-target="#colNavbar">
                    &#9776
                </button>
            </div>

            <div class="collapse navbar-collapse" id="colNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                        </a>

                        <div class="dropdown-menu gadget-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item gadget-item" href="#">Laptops</a>
                        <a class="dropdown-item gadget-item" href="#">Mobile Phones</a>
                        </div>
                    </li>
                </ul>
            
            
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/login">Log In </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/users/register">Register </a>
                    </li>
                </ul>
            </div>
            
        </Nav>

        <%- body %>

        <!-- Javascript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/javascript/bootstrap.min.js"></script>
    </body>

</html>