<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="style_signin.css">
        <link rel="stylesheet" href="style_nav.css">
        <link rel="stylesheet" href="style_main.css">
        
        <title>Sign In Portal</title>

    </head>
    
    <body>

        <!-- Nav Bar Design-->
        <Nav class="navbar navbar-expand-sm backBlue">
            <div class="navbar-header header-hider">
                <button type="button" class="navbar-toggle three-line-tog backBlue" data-toggle="collapse" data-target="#colNavbar">
                    &#9776
                </button>
            </div>

             <div class="collapse navbar-collapse" id="colNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link navItems" href="#">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navItems hoverer" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                        </a>

                        <div class="dropdown-menu backBlue" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item navItems hoverer" href="#">Laptops</a>
                        <a class="dropdown-item navItems hoverer" href="#">Mobile Phones</a>
                        </div>
                    </li>
                </ul>
            
            
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link navItems hoverer" href="#">Log In </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link navItems hoverer" href="#">Register </a>
                    </li>
                </ul>
            </div> 
        </Nav>


        <!-- Sign In Portal -->
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="card signInCard">
                        <h1 class="headerText signInHeader">Sign In Portal</h1>

                        <img src="pop-sm.jpg" class= "img-fluid signInImg">
                        
                        <form class="signInForm">
                            <div class="form-group">
                                <input type="text" class="form-control entryField" placeholder="Full Name">
                            </div>
    
                            <div class="form-group">
                                <input type="email" class="form-control entryField" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control entryField" placeholder="Password">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control entryField" placeholder="Confirm Password">
                            </div>
    
                            <button type="submit" class="btn btn-primary submitButton">Register</button>
                            
                            <p class="regOption">Already a Member?     <a href="#"> Log In</a></p>
                        
                        </form>
                    </div>    
                </div>
                <div class="col"></div>
                
            </div>    
            </div>        

        <!-- Javascript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    </body>
</html>