        <!-- Sign In Portal -->
        <div class="container">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm-6">
                    <div class="card loginCard">
                        <h1 class="p-1 m-auto">Sign In Portal</h1>

                        <img src="../uploads/Register.png" class= "img-fluid m-auto p-4">
                        <%- include('partials/messages') %>
                        <form class="m-auto" style="width: 50%;" action="/users/register" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control m-auto" placeholder="Full Name">
                            </div>
    
                            <div class="form-group">
                                <input type="email" name="email" class="form-control m-auto" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" class="form-control m-auto" placeholder="Password">
                            </div>

                            <div class="form-group">
                                <input type="password" name="password2" class="form-control m-auto" placeholder="Confirm Password">
                            </div>
    
                            <button type="submit" class="btn btn-primary mt-1">Register</button>
                            
                            <p class="mt-1">Already a Member?     <a href="#"> Log In</a></p>
                        
                        </form>
                    </div>    
                </div>
                <div class="col-sm"></div>
                
            </div>    
            </div>        

   