<!-- Verification Portal -->
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="card loginCard p-3">
                <div class="container py-3">
                    <h4 class="text-center my-0 py-0 normalText font-weight-light">Welcome</h4>
                    <h1 class="mx-auto my-0 py-0 normalText font-weight-bold">Name Surname</h1>    
                </div>
                <div class="border-top border-dark py-3">
                    <p class="text-center py-0 my-0 normaText">Verify Your Email</p>
                    <p class="text-center text-muted">Please Enter the verification code sent to your email</p>
                </div>
                
                <form class="mx-auto">
                    <div class="form-group mb-0">
                        <input type="number" class="form-control mx-auto" placeholder="Verification Code">
                    </div>

                    <div class="form-check my-0">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Remember Me</label>
                    </div>

                    <button type="submit" class="btn btn-primary submitButton">Submit</button>
                    
                    <p class="my-3">Did not receive the email yet?<a href="#" class="pl-4">Resend</a></p>
                
                </form>
                  
            </div>
        </div>
        <div class="col"></div>
    </div>    
    </div>